<style type="text/css">
	
	span.error{
		color : red;
		font-weight : bold;
	}
</style>
<form name="editStudentForm" role="form" novalidate>
	
	<div class="form-group">
		<label for="editStudentName">Name</label>
		<input class="form-control" name="name" id="editStudentName"  ng-model="studentCntrl.selectedStudent.studentName" required />
		<span class="error" ng-show="editStudentForm.name.$error.required">Please enter Name</span>
	</div>
	
	<div class="form-group">
		<label for="editStudentCollege">Select College</label>
		<select id="editStudentCollege"  ng-model="studentCntrl.selectedStudent.collegeId" ng-options="college.collegeId as college.collegeName for college in studentCntrl.CollegList"></select>		
	</div>
	<button type="submit" 
			ng-click="studentCntrl.saveEditStudent()"
			ng-disabled="editStudentForm.$invalid" 
			class="btn btn-default">
			Submit
	</button>
	<button type="submit" 
			ng-click="studentCntrl.cancel()"			
			class="btn btn-default">
			Cancel
	</button>
</form>
